#exchangeButtons {
    margin-bottom: 30px;
}

#exchangeButtons input {
  /* width: 50px;
   height: 30px;*/
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    border-collapse: collapse;
}
.tabcontent tr {
    border: none; 
}

.tabcontent td {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid grey;
}

#myChart {
    display: none;
}

.clickable { cursor: pointer; }

.red { color: red; }

.green { color: green; }
