<div style="display: flex;">
    <div>
        <h1> Binance</h1>
        <table>
            <tr>
                <td>Symbol</td>
                <td>Price</td>
                <td>Volume</td>
                <td>1H RSI</td>
            </tr>
            {{range .BinanceTickers}}
            <tr>
                <td>{{.Symbol}}</td>
                <td>{{.Price}}</td>
                <td>{{.Volume}}</td>
                <td>{{FormatFloat .Rsi}}</td>
            </tr>
            {{end}}
        </table>>
    </div>
    <div style="margin-left: 40px;">
        <h1> HitBTC</h1>
        <table>
            <tr>
                <td>Symbol</td>
                <td>Price</td>
                <td>Volume</td>
                <td>1H RSI</td>
            </tr>
            {{range .HitBtcTickers}}
            <tr>
                <td>{{.Symbol}}</td>
                <td>{{.Price}}</td>
                <td>{{.Volume}}</td>
                <td>{{FormatFloat .Rsi}}</td>
            </tr>
            {{end}}
        </table>>
    </div>

</div>